<ion-header>
  <ion-toolbar>
    <ion-title>Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (pelicula of peliculas; track pelicula.id) {
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ pelicula.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <p>{{ pelicula.genero }}</p>
              <p>Año: {{ pelicula.anio }}</p>
              <p>Duración: {{ pelicula.duracion }} min</p>
            </ion-label>
          </ion-item>
          <ion-button expand="block" (click)="verDetalle(pelicula.id)">
            Ver detalle
          </ion-button>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>