:root {
  /** primary (verde) **/
  --ion-color-primary: #1ed760;
  --ion-color-primary-rgb: 30, 215, 96;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #1ac154;
  --ion-color-primary-tint: #35dc70;

  /** fondo de la app **/
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  /** texto **/
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /** toolbar / header **/
  --ion-toolbar-background: #000000;
  --ion-toolbar-color: #ffffff;

  /** items (ion-item, ion-list) **/
  --ion-item-background: #121212;
  --ion-item-color: #ffffff;

  /** card **/
  --ion-card-background: #121212;
}